#Virtual environment
venv/
blog.db

#Flask
instance/*
!instance/ .gitignore
.webassets-cache
flaskr.egg-info

#flask.python Stack
@Byte-compiled / optimized /dll files
__pycache__/
*.py[cod]
*$py.class
